STARMINDER_ENVIRONMENT=local
STARMINDER_ADMIN_PREFIX=
STARMINDER_DJANGO_SECRET_KEY=
STARMINDER_DEBUG=1
STARMINDER_ENCRYPTION_KEY=

STARMINDER_DEFAULT_DAY=0
STARMINDER_DEFAULT_TIME=08:00
STARMINDER_DEFAULT_NUMBER=3

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
