starminder.dev:80,
starminder.dev:443 {
    reverse_proxy web:8000

    @plausible path /js/script.js /api/event
    handle @plausible {
        rewrite /js/script.js /js/script.js
        reverse_proxy https://plausible.io {
            header_up Host {http.reverse_proxy.upstream.hostport}
            header_up X-Forwarded-For {http.request.header.X-Forwarded-For}
            transport http {
                tls
            }
        }
    }
}


www.starminder.dev:80,
www.starminder.dev:443,
starminder.xyz:80,
starminder.xyz:443,
www.starminder.xyz:80,
www.starminder.xyz:443 {
    redir https://starminder.dev{uri}
}
