[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Flask = "*"
peewee = "*"
Flask-SSLify = "*"
parsenvy = "*"
waitress = "*"
"github3.py" = "*"
boto3 = "*"
zappa = "*"
GitHub-Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Github = "*"
psycopg2 = "*"
rq = "*"
redis = "*"

[packages.raven]
extras = [ "flask",]
