{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- voodoo -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <!-- basic meta -->
    <title>Starminder</title>
    <meta name="description" content="Remind yourself of your GitHub stars." />

    <!-- OG -->
    <meta property="og:title" content="Starminder">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://starminder.xyz/">
    <meta property="og:description" content="Remind yourself of your GitHub stars.">
    <meta property="og:image" content="/static/images/favicon144.gif">
    <meta property="og:image:width" content="144">
    <meta property="og:image:height" content="144">

    <!-- static -->
    <link rel="author" href="/humans.txt" />
    <link rel="shortcut icon" href="/static/images/favicon.gif" />
    <link rel="apple-touch-icon" href="/static/images/favicon144.gif" />

    <link rel="stylesheet" type="text/css" href="/static/style/style.css">
    
    <!-- Plausible -->
    {# TODO <script async defer data-domain="starminder.xyz" src="https://plausible.io/js/plausible.js"></script> #}
  </head>

  <body>
    <header>
      <a href="/"><h1>Starminder</h1></a>
    </header>

    <nav>
      {% if user.is_authenticated %}
        Logged in as <strong>{{ user.username }}</strong> | <a href="{% url 'dashboard' %}">Dashboard</a> | <a href="{% url 'account_logout' %}">Log out</a>
      {% else %}
        <a href="{% provider_login_url 'github' %}">Log in with GitHub</a>
      {% endif %}
    </nav>

    <section>
      <p><strong>Starminder</strong> periodically reminds you of some of your starred GitHub projects.</p>
      <p>You decide how many and how frequently, and it takes care of the rest.</p>
    </section>

    {% comment %}
    {# TODO #}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endcomment %}

    {% block content %}{% endblock %}

    <footer>
      <a href="/">Starminder</a> is maintained by <a href="https://www.nkantar.com">Nik Kantar</a>.<br />
      <a href="https://github.com/nkantar/Starminder">Contributions welcome!</a><br />
      {{ profile_count }} user{% if profile_count != 1 %}s{% endif %} / Version {{ starminder_version }}
    </footer>
  </body>
</html>

