{% extends "base.html" %}

{% block content %}
  <section>
    <hr />
    <h3>Testimonials</h3>
    <blockquote>Truly amazing!<br /><em>&mdash; no one, probably</em></blockquote>
    <blockquote>Now I <em>never</em> forget about all the random projects I starred.<br /><em>&mdash; also no one, probably</em></blockquote>
    <blockquote>I hope this works&hellip;<br /><em>&mdash; author</em></blockquote>
    <blockquote>It totally works!<br /><em>&mdash; author, a little later</em></blockquote>
    <blockquote>It <em>still</em> works!<br /><em>&mdash; author, years later</em></blockquote>
  </section>
{% endblock %}
