{% load socialaccount %}
<h1>Starminder</h1>

{% if user.is_authenticated %}
  <a href="{% url 'dashboard' %}">Dashboard</a>
  <a href="{% url 'settings' %}">Settings</a>
  <a href="{% url 'account_logout' %}">Log Out</a>
  <!-- TODO disconnect not working -->
  <form method="post" action="{% url 'socialaccount_connections' %}">
    {% csrf_token %}
    <input type="hidden" name="account" id="id_account_{{ user.socialaccount_set.all.0.id }}" value="{{ user.socialaccount_set.all.0.id }}">
    <button type="submit">Disconnect</button>
  </form>
{% else %}
  <form method="post" action="{% provider_login_url 'github' %}">
    {% csrf_token %}
    <button type="submit">Log In</button>
  </form>
{% endif %}

{% if user.is_authenticated %}
  <p>Hello, {{ user.username }}.</p>
{% endif %}

{% block content %}
{% endblock %}
