{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>☆ Starminder ☆</title>

    <!-- OpenGraph meta tags -->
    <meta property="og:title" content="☆ Starminder ☆">
    <meta property="og:description" content="Rediscover your GitHub stars.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://starminder.dev{{ request.path }}">
    <meta property="og:image" content="https://starminder.dev{% static 'img/starminder_hero.png' %}">
    <meta property="og:site_name" content="☆ Starminder ☆">

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="☆ Starminder ☆">
    <meta name="twitter:description" content="Rediscover your GitHub stars.">
    <meta name="twitter:image" content="https://starminder.dev{% static 'img/starminder_hero.png' %}">

    <!-- assets -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/starminder_star_180.png' %}">
    <link rel="apple-touch-icon" href="{% static 'img/starminder_star_180.png' %}">

    <!-- Plausible -->
    <script src="/static/js/script.js"></script>
    <script defer data-api="/api/event" data-domain="starminder.dev" src="/js/script.js"></script>
</head>
<body>
    <header>
        <h1><a href="/" title="Home">☆ Starminder ☆</a></h1>

        {% if user.is_authenticated %}
            <p>Hello, <strong>{{ user.username }}</strong>. <a href="{% url 'dashboard' %}">Dashboard</a> <a href="{% url 'html_feed' user.user_profile.feed_id %}">HTML Feed</a> <a href="{% url 'atom_feed' user.user_profile.feed_id %}">Atom Feed</a> <a href="{% url 'faq' %}">FAQ</a> <a href="{% url 'account_logout' %}">Logout</a></p>
        {% else %}
            <p>Hello. <a href="{% url 'faq' %}">FAQ</a> <a href="{% url 'github_login' %}">Login with GitHub</a></p>
        {% endif %}
    </header>

    {% if page_title %}
        <h2>{{ page_title }}</h2>
    {% endif %}
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>Made with <span class="red">&hearts;</span> by <a class="green" href="https://nkantar.com" title="Nik Kantar">Nik Kantar</a>.</footer>
</body>
</html>
