{% extends "base.html" %}

{% block content %}
<ul>
  <li>
    <strong>Q: What data do you collect?</strong>
    <br>
    A: <em><strong>Starminder</strong></em> stores the following user data:
    <ul>
      <li>username</li>
      <li>first name</li>
      <li>last name</li>
      <li>GitHub token</li>
    </ul>
  </li>
  <li>
    <strong>Q: How do I get you to delete all my data?</strong>
    <br>
    A: If you delete your account, everything associated with it will be deleted, including your GitHub token. If you cannot access your account to delete it, please get in touch.
  </li>
  <li>
    <strong>Q: What’s the point?</strong>
    <br>
    A: If you habitually star projects, pretty quickly you accumulate more of them than you can actually actively care about. <em><strong>Starminder</strong></em> will basically nudge you to check them out again.
  </li>
  <li>
    <strong>Q: I’d like these in my email inbox, though, just like in the first version.</strong>
    <br>
    A: Working on it.
  </li>
  <li>
    <strong>Q: Will this help me finally get around to actually using all those projects I starred at 3am?</strong>
    <br>
    A: Probably not, but at least you’ll be reminded of your good intentions on a regular schedule!
  </li>
  <li>
    <strong>Q: What’s the stack?</strong>
    <br>
    A: Have a look at <a href="https://github.com/nkantar/Starminder/blob/main/pyproject.toml" title="nkantar/Starminder: GitHub starred project reminder">this file</a>.
  </li>
</ul>
{% endblock %}
