{% extends "base.html" %}

{% block content %}
<p>Rediscover your GitHub stars.</p>

<p>More marketing content goes here.</p>

<p>Testimonials:</p>
<blockquote>Truly amazing!<br />&mdash; no one, probably</blockquote>
<blockquote>Now I <em>never</em> forget about all the random projects I starred.<br />&mdash; also no one, probably</blockquote>
<blockquote>I hope this works&hellip;<br />&mdash; author</blockquote>
<blockquote>It totally works!<br />&mdash; author, a little later</blockquote>

{% endblock %}
