{% extends "base.html" %}

{% block content %}

<p>The idea behind <strong>Starminder</strong> is simple: it occasionally looks at all the repos you’ve starred on GitHub, picks a few, and reminds you about them. You get to choose the schedule—day and time—and number of projects you want to be reminded about, and then you get them them via an Atom feed and (optionally) email.</p>

<p>When I first launched <strong>Starminder</strong> in 2017, I had 457 starred projects, and no real idea what was in there. That number is now 1,207, and I’ve revisited many over the years precisely because of these reminders.</p>

<p>Rediscover your GitHub stars.</p>

{% endblock %}
