<article>
    {% if reminder.star_set.all %}
        <ul>
            {% for star in reminder.star_set.all %}
                <li>
                    <strong><a href="{{ star.repo_url }}" target="_blank">{{ star.owner }}/{{ star.name }}</a></strong>{% if star.archived %} <small>[archived]</small>{% endif %}
                    <ul>
                        {% if star.description %}
                            <li>{{ star.description_pretty }}</li>
                        {% endif %}
                            <li>{{ star.star_count }} stars</li>
                        <li><a href="{{ star.repo_url }}" target="_blank">repository</a></li>
                        {% if star.project_url %}
                            <li><a href="{{ star.project_url }}" target="_blank">website</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No stars in this reminder.</p>
    {% endif %}
</article>
