{% extends "base.html" %}

{% block content %}
{% if reminders %}
    {% for reminder in reminders %}
        <h3><a href="{% url 'reminder_detail' reminder.user.user_profile.feed_id reminder.id %}">{{ reminder.title }}</a></h3>
        {% include "_reminder_body.html" %}
    {% endfor %}
{% else %}
    <p>No reminders available.</p>
    <p>If you just recently signed up, your first reminder is probably still getting generated, which can take a few minutes if you’ve starred thousands of repositories. However, if it’s been a long time, feel free to <a href="">send an email</a>!</p>
{% endif %}
{% endblock %}
