body {
  max-width: 555px;
  margin: 50px auto;
  padding: 0 25px;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: dimgray; }
  body a {
    color: dimgray; }
    body a:hover, body a:active {
      color: black; }
  body header {
    text-align: center; }
    body header a {
      text-decoration: none; }
      body header a h1 {
        padding: 10px 0;
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 3rem;
        line-height: 1;
        background: dimgray;
        color: white; }
      body header a:hover h1, body header a:active h1 {
        background: black; }
  body nav {
    margin: 25px 0;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
    text-align: center; }
  body section hr {
    margin: 15px 0;
    border: none;
    border-bottom: 1px dashed gainsboro;
    height: 0px; }
  body section form ul li {
    margin: 5px 0; }
  body section form input[type="submit"] {
    display: block;
    font-size: 1rem; }
  body footer {
    margin: 25px 0;
    padding: 10px 0;
    border-top: 1px solid lightgray;
    text-align: center;
    font-size: .75rem; }
